<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)</title>
  </head>
  <body>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/calibre+main+image_small.jpg" imageanchor="1" style="background-color: white; margin-left: -1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/calibre+main+image_small.jpg" style="-moz-box-shadow: 0px 0px 0px transparent !important; -webkit-box-shadow: 0px 0px 0px transparent !important; background: none !important; border: none !important; box-shadow: 0px 0px 0px transparent !important; padding: none !important;"></a></div>
<div style="text-align: center;">
<span style="font-size: x-small;">Ten artykuł jest częścią serii pt. "</span><a href="http://www.ekundelek.pl/2012/06/stk-0-send-to-kindle-czyli-zapowiedz.html" style="font-size: small;" target="">Send To Kindle, czyli mini cykl o wysyłaniu rzeczy na Kindle</a><span style="font-size: x-small;">".</span><span style="font-size: x-small;"><br></span></div><br>
Calibre, to program do zarządzania domową biblioteką e-booków zasługujący nie tylko na pojedynczy artykuł, ale chyba na osobnego e-booka. Program ten dla wielu posiadaczy e-czytników jest wręcz niezbędnikiem. Podkreślam, że nie mówię tutaj tylko o posiadaczach produktów Amazona. Calibre wspiera chyba wszystkie czytniki, a na pewno stara się to robić.<br>
<br>
Calibre jest programem do zarządzania domową elektroniczną biblioteką. Oczywiście potrafi przesyłać różne rzeczy z komputera na czytnik w tradycyjny sposób, to jest za pomocą kabla USB. Ten artykuł jest jednak kontynuacją <a href="http://www.ekundelek.pl/2012/06/stk-0-send-to-kindle-czyli-zapowiedz.html">serii "Send To Kindle/Wyślij na Kindle"</a> traktujący o super wygodnej <b>bezprzewodowej </b>metodzie wysyłania książek na Kundelki :)<br>
<!--more--><br>
<h4>Czytnik musi być zarejestrowany - przypomnienie</h4><br>
By móc z Calibre bezprzewodowo wysyłać książki na Kindla, musimy mieć zarejestrowany czytnik w Amazon.com oraz posiadać specjalny adres w domenie @kindle.com. O tym jak to błyskawicznie zrobić, pisałem już wcześniej w artykule <a href="http://www.ekundelek.pl/2012/06/stk-1-zakadanie-konta-w-amazon-oraz.html"><i>Zakładanie konta w Amazon oraz rejestracja Kindle</i></a>.<br>
<br>

<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#pobieranie_calibre" name="pobieranie_calibre"><span style="color: black;">Skąd wziąć Calibre</span></a></h3><br>
Stosowny plik instalacyjny można ściągnąć z oficjalnej strony <a href="http://calibre-ebook.com/download">http://calibre-ebook.com/download</a>. Dostępne są wersje na Windowsa, Linuksa i OS X. Jest także dostępna wersja "Portable", która można zainstalować na pendrivie.<br>
<br>
Instalacja tego programu jest bardzo prosta. Poniższa instrukcja jest oparta o wersję 0.8.57.<br>
<br>
<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#instalacja_calibre" name="instalacja_calibre"><span style="color: black;">Instalacja programu</span></a></h3><br>
Po uruchomieniu instalatora należy wybrać język programu (<b>polski jest dostępny</b>) oraz wersję czytnika jaką posiadamy. Tutaj mała uwaga, Kindle Keyboard przed przemianowaniem przez Amazon nosił nazwę Kindle 3, więc posiadając go należy wybrać tą samą opcję co posiadacze Kindle Classic, Kindle Touch czy starszych wersji, opcję pierwszą.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://2.bp.blogspot.com/-z-FV8bvHnDo/T-y9M5RAh7I/AAAAAAAABFE/cI8FMeKp8FU/s1600/Clipboard01.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="178" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard01.jpg" width="200"></a><a href="http://2.bp.blogspot.com/-X81QttZuiuY/T-y9N8Q8rdI/AAAAAAAABFM/hRolA7FGivE/s1600/Clipboard02.jpg" imageanchor="1" style="background-color: white; margin-left: 1em; margin-right: 1em;"><img border="0" height="178" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard02.jpg" width="200"></a></div>
<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://2.bp.blogspot.com/-z8rPkuTh3FU/T-y9OzvDB6I/AAAAAAAABFU/PoT-j6k6UEs/s1600/Clipboard03.jpg" imageanchor="1" style="margin-left: 0em; margin-right: 1em;"><img border="0" height="493" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard03.jpg" width="550"></a></div><br>
<br>
Już w następnym kroku, mamy do wypełnienia bardzo ważny formularz.<br>
<br>
<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#nadawca_i_kindle_com" name="nadawca_i_kindle_com"><span style="color: black;">Konfiguracja adresu nadawcy oraz adresu kindle.com</span></a></h3><br>
Niektóre programy wysyłające rzeczy na Kindle, korzystają z własnego adresu e-mail. Dla przykładu <a href="http://egazieciarz.pl/">eGazeciarz</a> wysyła gazety z adresu subskrypcje@egazeciarz.pl<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/od-do.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/od-do.png"></a></div><br>
Calibre nie posiada własnego adresu z którego wszystko wysyła. By możliwa była wysyłka musimy mu podać dane do własnego konta pocztowego, by mógł on z niego korzystać automatycznie. Najłatwiej jest jeżeli posiadamy pocztę Gmail.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/od+gmail-do.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/od+gmail-do.png"></a></div><br>
Niemniej jednak <b>może to być każda inna poczta</b> (onet.pl, wp.pl, tlen.pl, yahoo.com, itd). Jednakże z powodu mnogości różnych rodzajów skrzynek, musiałem wybrać jakąś do przykładu. Jeżeli będziecie mieli problem z jakąś inną pocztą, napiszcie proszę o tym w komentarzu, postaram się pomóc.<br>
<br>
Jakiejkolwiek poczty użyjemy, musimy pamiętać, by ów<b><span style="color: red;"> adres był dodany do listy autoryzowanych adresów</span></b> w naszym koncie Amazon (<a href="http://www.ekundelek.pl/2012/06/stk-1-zakadanie-konta-w-amazon-oraz.html#adresy_autoryzowane">tutaj jest instrukcja jak to zrobić</a>).<br>
<br>
Przechodzimy do konfiguracji w której to na początek musimy skonfigurować dwie rzeczy...<br>
<br>
<h4>Kindlowy adres - "nazwa"@kindle.com lub "nazwa"@free.kindle.com</h4><br>
Przypomnienie dla użytkowników posiadających czytniki z modułem 3G:<b><span style="color: red;">musicie pamiętać o różnicy pomiędzy</span></b> @kindle.com a @free.kindle.com (<a href="http://www.ekundelek.pl/2012/06/stk-1-zakadanie-konta-w-amazon-oraz.html#roznica">tutaj było to wyjaśnione</a>).<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard04_w.jpg" imageanchor="1" style="margin-left: -2em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard04_w.jpg"></a></div><br>
<br>
Na późniejszym etapie da się dodać więcej adresów "kindlowych" adresów a także ustawić domyślny.<br>
<br>
<h4>Konfigurowanie adresu nadawcy</h4>
<br>
Posiadając skrzynkę e-mailową Gmail, sytuację mamy ułatwioną. Nie należy nic wpisywać w tym oknie a po prostu kliknąć ikonkę "Użyj poczty Gmail".<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://4.bp.blogspot.com/-QQhUjgNKFHU/T-zEMWD4IXI/AAAAAAAABF8/Q5I5Q-oAdqQ/s1600/Clipboard04_w2.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="178" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard04_w2.jpg" width="200"></a></div><br>
<br>
Zostanie otwarte następujące okienko, jak poniżej...<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard05_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard05_w.jpg"></a></div><br>
<br>
Pierwsze pole jest bardziej dla nas niż dla programu, w praktyce może być uzupełnione wedle mniemania.<br>
W drugie pole wpisujemy pełny gmailowy adres&nbsp;<b>wraz z końcówką @gmail.com</b>.<br>
W trzecie pole wpisujemy hasło do gmailowego konta pocztowego.<br>
<br>
Klikając <b>OK</b>, wracamy do poprzedniego okienka i okazuje się, że takie pola formularza jak "Nazwa Komputera", "Port", "Szyfrowanie" są już odpowiednio w stosunku do gmailowych kont wypełnione.<br>
<br>
<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#testowanie_poprawnosci_konfiguracji" name="testowanie_poprawnosci_konfiguracji"><span style="color: black;">Testowanie poprawności konfiguracji</span></a></h3><br>
Zamiast jednak klikać na dole w przycisk "Następne" proponuję skorzystać z możliwości sprawdzenia, czy wszystko zostało dobrze przez nas skonfigurowane, klikając w "Testowy email".<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://2.bp.blogspot.com/-n-Abp6M5IfM/T-zHGRGd9lI/AAAAAAAABGU/qZCYDiChMEE/s1600/Clipboard06_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="357" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard06_w.jpg" width="400"></a></div><br>
Program wyświetli ostrzegawczy komunikat. Jeżeli nie mamy nikogo za plecami wpatrującego się w monitor, nie musimy się tym przejmować, klikamy Tak.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard07_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard07_w.jpg"></a></div><br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://1.bp.blogspot.com/-GTrIRDiysms/T-zKtLCwoLI/AAAAAAAABGo/EhkRE75lmBA/s1600/Clipboard08.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="326" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard08.jpg" width="400"></a></div><br>
Jeżeli wszystko skonfigurowaliśmy poprawnie, to ujrzymy komunikat: <b><i>Email wysłany pomyślnie.</i></b><br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://4.bp.blogspot.com/-cit2m33dixM/T-zLN8lLI5I/AAAAAAAABG0/Jg3_JXj0owc/s1600/Clipboard09_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="326" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard09_w.jpg" width="400"></a></div><br>
<b>Każdy inny komunikat jest sygnałem, że coś wpisaliśmy nie tak.</b> Gdy na przykład zostanie podane złe hasło otrzymamy coś takiego:<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://2.bp.blogspot.com/-FiK5YD8qQnw/T-zLvQbr62I/AAAAAAAABG8/2hzXKypD4LQ/s1600/Clipboard10.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="362" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard10.jpg" width="400"></a></div><br>
Zakładając jednak, że wszystko poszło dobrze, możemy w tym momencie sprawdzić na naszej poczcie czy w katalogu <b>wysłane</b> (wysłane a nie odebrane ;) )&nbsp;widnieje stosowna pozycja.<br>
<br>
<div class="separator" style="clear: both; text-align: center;"><a href="http://4.bp.blogspot.com/-Uujc2WBZF8c/T-zN4eYguYI/AAAAAAAABHE/3mKjN1EacJo/s1600/Clipboard12.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="358" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard12.jpg" width="400"></a></div><br>
Wchodząc do tej wiadomości dowiadujemy się, co dokładnie zostało wysłane na czytnik.<br>
<br>
<div class="separator" style="clear: both; text-align: center;"><a href="http://2.bp.blogspot.com/-L9ljSZgE3e8/T-zN6NFUp8I/AAAAAAAABHM/0YvtgXVc21A/s1600/Clipboard13.jpg" imageanchor="1" style="margin-left: -1em; margin-right: 1em;"><img border="0" height="224" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard13.jpg" width="550"></a></div><br>
Wchodząc w szczegóły widzimy dokładnie, że zostało to wysłane z wpisanego gmailowego adresu na wpisany kindlowy adres.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard14.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard14.jpg"></a></div><br>
Pomimo tego, że ten e-mail został wysłany na Kindla, to jednak na sam czytnik nic nie trafi. To dlatego, że cały mechanizm dostarcza tylko załączniki. Testowy e-mail takiego nie posiadał, zawierał tylko tekst, który jest ignorowany.<br>
<br>
Wracając do naszego Calibre... klikamy <i><b>OK</b></i>, potem <i><b>Następny</b></i>...<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://3.bp.blogspot.com/-UJYaeWezeNk/T-zQjX0wMQI/AAAAAAAABHs/t-ZWJcq06PE/s1600/Clipboard10_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="290" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard10_w.jpg" width="320"></a></div><br>
I możemy się czytać gratulacje, gdyż instalacja i konfiguracja zostały zakończone pomyślnie.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://1.bp.blogspot.com/-EbViF2uaeB0/T-zPsaG0RNI/AAAAAAAABHc/y7X2PpZzZtg/s1600/Clipboard16.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="286" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard16.jpg" width="320"></a></div><br>
Klikając <b style="font-style: italic;">Koniec</b> zamkniemy instalator i zostanie nam otwarte główne okno Calibre, przedstawiające prawie pustą bibliotekę ebooków. Początkowo biblioteka zawiera tylko jedną pozycję, instrukcję obsługi Calibre (niestety po angielsku).<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://1.bp.blogspot.com/-5O2SQwMANhA/T-zPtoRvr3I/AAAAAAAABHk/tpKPSEASzFs/s1600/Clipboard17.jpg" imageanchor="1" style="margin-left: -1em; margin-right: 1em;"><img border="0" height="260" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard17.jpg" width="550"></a></div><br>
<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#wysylka_rzeczy_na_kindle" name="wysylka_rzeczy_na_kindle"><span style="color: black;">Wysyłanie książek i dokumentów na Kindle</span></a></h3><br>
Nic nie stoi na przeszkodzi, by skorzystać z książki (instrukcji Calibre), która już jest w bibliotece i to właśnie ją wysłać na próbę na Kundelka. Robi się to niezwykle prosto. Należy prawym przyciskiem myszy kliknąć na daną pozycję z listy książek i wybrać&nbsp;<b><i>Połącz/Udostępnij</i></b>, a później <b><i>Prześlij e-mailem do "nazwa"@kindle.com</i></b>.<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://1.bp.blogspot.com/-qPyuEUOmud0/T-zSqq7i_tI/AAAAAAAABH0/MC7-1dLGoWY/s1600/Clipboard18_w.jpg" imageanchor="1" style="margin-left: -1em; margin-right: 1em;"><img border="0" height="344" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard18_w.jpg" width="550"></a></div><br>
Standardowa Instrukcja Calibre, którą próbujemy wysłać jest w bibliotece w formacie ePub, który nie jest kompatybilny z Kindlem. Nic to jednak nie szkodzi, bo Calibre wiedząc, że wysyła książkę na Kindla w tym przypadku przed wysłaniem zapyta czy ją przekonwertować do formatu MOBI.<br>
<br>
O tym, że książka jest wysyłana możemy się przekonać patrząc w prawy dolny róg ekranu, gdzie zobaczymy kręcące się kółeczko oraz liczbę zadań będących w trakcie wykonywania (w programie można kliknąć na kółeczko, by zobaczyć więcej szczegółów).<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard19_w.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/Clipboard19_w.jpg"></a></div><br>
Gdy liczba zadań spadnie do zera, a nam w między czasie nie wyskoczy żaden komunikat o błędzie, będzie to oznaczało, że książka została wysłana i za parę chwili (jeżeli mamy włączoną sieć w Kundelku) będziemy mogli czytać ją już na czytniku.<br>
<br>
i już :)<br>
<br>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://4.bp.blogspot.com/-ankmMWSQPV4/T-2xFOjxB4I/AAAAAAAABI8/pFgUXEWWq2I/s1600/kindle_with_calibre.jpg" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="640" src="./[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre(bez kabla)_files/kindle_with_calibre.jpg" width="420"></a></div><br>
<h3><a href="http://www.ekundelek.pl/2012/06/stk-2-wysyka-ksiazek-i-dokumentow-na.html#podsumowanie" name="podsumowanie"><span style="color: black;">Podsumowanie</span></a></h3><br>
Calibre jest naprawdę dobrym programem. Świadczyć o tym może m.in. to, że niektóre serwisy jak na przykład wspomniany <a href="http://egazeciarz.pl/">eGazeciarz</a> działa właśnie w oparciu o instancję tego programu na serwerze.<br>
<br>
Calibre umożliwia także automatyczne pobieranie artykułów z różnych serwisów internetowych (jest dostępna lista najpopularniejszych oraz istnieje możliwość dodania własnych RSSów).<br>
<br>
Automatycznej wysyłce będzie jednak poświęcony osobny artykuł.<br>
<br>
  
</body></html>