<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            .leftalign{
                text-align:left;
            }
            .centeralign{
                text-align:center;
            }
            .rightalign{
                text-align:right;
            }
            .reducedheight{
                line-height: 0.5
            }
            h4 {
                margin:15px 0 0 0;
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Multiplatform development earlier and today</title> 
        <meta name="Author" content="Petr Joachim" />
    </head>
    <body>
        <div class="reducedheight">
            <div class="leftalign">
                <H1>Multiplatform development earlier and today</H1>
            </div>
            <small>20. 10. 2009, 14:13 </small><br>
        </div>
        <img src="development.jpg" alt="obrazek">
        <small>Faster, smaller, stronger</small><br>
        <div class="leftalign">
            <h6>In my young developer age I was convinced, that multiplatform
                applications is that you have one sourcecode and it runs on
                several platforms. I was convinced that this attitude was the
                best for developers</h6>
            <p>But nowadays I've noticed, that meaning of multiplatform is a bit different. Trade made it different.</p>
            <p>For example, mobile devices. Trade forces you to do the app for iOS and Android. The way I understand "multiplatform" would be, that you wrote one sourcecode and it would run (with some modifications) on both. But what you have to do today is to implement two separate applications and try to make it behave equally.</p>
            <p>Thank you Invisible hand of trade</p>
        </div>

        <br><small>
            <a href="http://petr.joachim.cz">Petr Joachim</a></small><br>
    </body>
</html>

