<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <meta name="Author" content="eKundelek.pl" />
        <title>eKundelek.pl</title>
    </head>
    <body>
        <div>
            <h1><b>eKundelek.pl</b></h1>
            <br />
            <h2>Artykuły (od najnowszych)</h2><br />
            <div>
                <ul>
                    <li><h3><a href="all.htm#art1">[STK-3] Klip.me - wysyłka artykułów na Kindle</a></h3></li>
						<ul>
							<li><h4><a href="all.htm#z_jakimi_przegladarkami_dziala">Z jaką przeglądarką to działa?</a></h4></li>
							<li><h4><a href="all.htm#co_to_jest_skryptozakladka">Skryptozakładka - co to jest?</a></h4></li>
							<li><h4><a href="all.htm#instalacja">Instalacja</a></h4></li>
							<li><h4><a href="all.htm#jak_wlaczyc_pasek_zakladek">Jak włączyć pasek zakładek?</a></h4></li>
							<li><h4><a href="all.htm#konfiguracja">Konfiguracja</a></h4></li>
							<li><h4><a href="all.htm#jak_uzywac_klipme">Jak używać Klip.me?</a></h4></li>
							<li><h4><a href="all.htm#edycja_przed_wyslaniem">Edycja artykułu przed wysłaniem</a></h4></li>
							<li><h4><a href="all.htm#wysylanie_fragmentow">Wysyłanie fragmentów zamiast całych artykułów</a></h4></li>
							<li><h4><a href="all.htm#pozostale_funkcjonalnosci">Pozostałe funkcjonalności serwisu</a></h4></li>
							<li><h4><a href="all.htm#cdn">Ciąg dalszy nastąpi</a></h4></li>
						</ul><br />
                    <li><h3><a href="all.htm#art2">Nook Simple Touch vs. Kindle Touch - na który czytnik warto postawić</a></h3></li>
						<ul>
							<li><h4><a href="all.htm#BN_co_to_za_firma">Barnes & Noble - co to za firma?</a></h4></li>
							<li><h4><a href="all.htm#porownawczo">Porównawczo</a></h4></li>
							<li><h4><a href="all.htm#polacy_nie_gesi">Polacy nie gęsi...</a></h4></li>
							<li><h4><a href="all.htm#ekran">Ekran</a></h4></li>
							<li><h4><a href="all.htm#cena">Cena</a></h4></li>
							<li><h4><a href="all.htm#rozmiar">Rozmiar</a></h4></li>
							<li><h4><a href="all.htm#menu">Menu</a></h4></li>
							<li><h4><a href="all.htm#sortowanie">Sortowanie, kolekcje, półki, katalogi</a></h4></li>
							<li><h4><a href="all.htm#pamiec">Pamięć</a></h4></li>
							<li><h4><a href="all.htm#czytanie">Czytanie</a></h4></li>
							<li><h4><a href="all.htm#nawigacja">Nawigacja podczas czytania</a></h4></li>
							<li><h4><a href="all.htm#dodawanie_zakladek">Dodawanie zakładek, korzystanie ze słownika</a></h4></li>
							<li><h4><a href="all.htm#zaznaczanie_tekstu">Zaznaczanie tekstu</a></h4></li>
							<li><h4><a href="all.htm#kroj_czcionek">Krój czcionek</a></h4></li>
							<li><h4><a href="all.htm#rozmiar_czcionek">Rozmiar czcionek</a></h4></li>
							<li><h4><a href="all.htm#marginesy">Marginesy</a></h4></li>
							<li><h4><a href="all.htm#slownik">Słownik</a></h4></li>
							<li><h4><a href="all.htm#obslugiwane_formaty">Obsługiwane formaty</a></h4></li>
							<li><h4><a href="all.htm#personalizacja">Personalizacja</a></h4></li>
							<li><h4><a href="all.htm#wsparcie_bn">Wsparcie i pomoc techniczna</a></h4></li>
							<li><h4><a href="all.htm#jailbreak_nooka">Jailbreak, czyli coś czego grzeczny klient robić nie powinien</a></h4></li>
							<li><h4><a href="all.htm#sprowadzenie_nooka">Sprowadzanie Nooka, Allegro i Advlux</a></h4></li>
							<li><h4><a href="all.htm#podsumowanie_nook_vs_touch">Podsumowanie</a></h4></li>
							<li><h4><a href="all.htm#komentarze">Komentarze</a></h4></li>
						</ul><br />
                    <li><h3><a href="all.htm#art3">[STK-2] Wysyłka książek i dokumentów na Kindle za pomocą Calibre (bez kabla)</a></h3></li>
						<ul>
							<li><h4><a href="all.htm#pobieranie_calibre">Skąd wziąć Calibre</a></h4></li>
							<li><h4><a href="all.htm#instalacja_calibre">Instalacja programu</a></h4></li>
							<li><h4><a href="all.htm#nadawca_i_kindle_com">Konfiguracja adresu nadawcy oraz adresu kindle.com</a></h4></li>
							<li><h4><a href="all.htm#testowanie_poprawnosci_konfiguracji">Testowanie poprawności konfiguracji</a></h4></li>
							<li><h4><a href="all.htm#wysylka_rzeczy_na_kindle">Wysyłanie książek i dokumentów na Kindle</a></h4></li>
							<li><h4><a href="all.htm#podsumowanie">Podsumowanie</a></h4></li>
						</ul>
                </ul><br />
            </div>
            <h2>Inne</h2><br />
            <div>
                <ul>
                    <li><h3><a href="all.htm#o_serwisie">O serwisie</a></h3></li>
                    <li><h3><a href="all.htm#cele_i_misja">Cele i misja</a></h3></li>
                    <li><h3><a href="all.htm#subskrypcja">W jaki sposób subskrybować eKundelka</a></h3></li>
                    <li><h3><a href="all.htm#jak_mozesz_pomoc">Jak możesz pomóc eKundelkowi</a></h3></li>
                    <li><h3><a href="all.htm#o_autorach">O autorach</a></h3></li>
                </ul>
            </div>
        </div>
    </body>
</html>

