<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            .leftalign{
                text-align:left;
            }
            .centeralign{
                text-align:center;
            }
            .rightalign{
                text-align:right;
            }
            .reducedheight{
                line-height: 0.5
            }
            h4 {
                margin:15px 0 0 0;
            }
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>The truth behind Luke Skywalker and his father</title> 
        <meta name="Author" content="Petr Joachim" />
    </head>
    <body>
        <div class="reducedheight">
            <div class="leftalign">
                <H1>The truth behind Luke Skywalker and his father</H1>
            </div>
            <small>20. 10. 2009, 14:13 </small><br>
        </div>
        <img src="starwars.jpg" alt="obrazek">
        <small>Family fight, Luke and his father</small><br>
        <div class="leftalign">
            <h6>Once upon the time, there was a boy, Luke Skywalker.</h6>
            <p>His parents left him alone at home, when they went to a party. The night was dark and creepy and suddenly:</p>
            <p>*knock, knock*<br/>
            Luke: "Who's there?"<br/>
            *heavy breathing*<br/>
            Luke scared to death: "Who's there?"<br/>
            "Luke, I'm your father"<br/>
            </p>
        </div>

        <br><small>
            <a href="http://petr.joachim.cz">Petr Joachim</a></small><br>
    </body>
</html>

